body {
    background-color: lightpink;
    font-family: "Courier New", Courier, monospace;
    color:#8B475D;
}

main{
margin-top: 100px;
text-align: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: #e38bad;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}
main ul {
    list-style-type: none;   
    background-color: #D02090;
    padding: 1px;
    overflow: hidden;
    margin:0;
    top:0;
    margin-top: -45px;
}

h4{
  margin-left: 25px;
}
aside{
    display:block;
    text-align: center;
    margin-bottom: 60px;
}
aside a{
    color:#CD6889;
}
dl{
    display:inline-flex;
    margin-bottom: 1em;
    margin-left: 10;
    margin-right: 10;
    text-align: center;
}
dt{
    margin-right: 10px;
    margin-left: 10px;
}

p{
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}
li a {
    display: inline-table;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;

}
li a:hover {
    background-color: #ff8bad;
}
.home {
    text-align: justify;
    margin-left: 95px;
    margin-top: 80px;
}
.fada{
  background-color: lightpink;
  margin-left: 0;
  margin-right: 0;


}
.active {
    background-color: #ff8bad;
    border: 1px solid lightgray;
}

.logo_navbar{
    width: 90px;
}
.logo{
  display: block;
  margin: auto;
  width: 40%;
  margin-top: 100px;
}

.musatext {
  color:crimson;
}

.bloomtext {
    color:dodgerblue;
}
.stellatext {
    color:coral;
}
.floratext {
    color: #C71585;
}
.tecnatext{
    color: #8A2BE2;
}
.aishatext{
    color: #2E8B57;
}
p {
    text-align: justify;
    font-size: 130%;

}

h4{
    font-size: 200%;
    text-align: justify
}


img {
    display: block;
    margin: auto;
    width: 50%;
}
